<div class="main-container">
  <section class="height-100 bg-dark">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <i class="icon-compass display-4"></i>
          <h1 class="h2">Uhoh, page not found (404)</h1>
          <span>The page you requested couldn't be found. <a href="index.html" class="text-white">Go back home</a> or <a href="#" class="text-white">Contact us</a> if you think this might be a mistake.</span>
        </div>
        <!--end of col-->
      </div>
      <!--end of row-->
    </div>
  </section>

</div>