<div class="container">
  <div id="stepper1" class="bs-stepper">
    <div class="bs-stepper-header">
      <div class="step" data-target="#test-l-1">
        <button class="step-trigger">
          <span class="bs-stepper-circle">1</span>
          <span class="bs-stepper-label">Account Setup</span>
        </button>
      </div>
      <div class="line"></div>
      <div class="step" data-target="#test-l-2">
        <button class="step-trigger">
          <span class="bs-stepper-circle">2</span>
          <span class="bs-stepper-label">Upload Picture</span>
        </button>
      </div>
      <div class="line"></div>
      <div class="step" data-target="#test-l-3">
        <button class="step-trigger">
          <span class="bs-stepper-circle">3</span>
          <span class="bs-stepper-label">Running Info</span>
        </button>
      </div>
    </div>
    <div class="bs-stepper-content">
      <form #editForm="ngForm" (ngSubmit)="onBoardUpdate()">
        <div id="test-l-1" class="content">
          <div class="form-group">
            <div class="form-row form-group">
              <div class="col">
                <input
                  class="form-control form-control-lg"
                  type="text"
                  id="city"
                  [(ngModel)]="user.city"
                  name="city"
                  placeholder="City"
                />
              </div>
              <div class="col">
                <input
                  class="form-control form-control-lg"
                  type="text"
                  name="state"
                  [(ngModel)]="user.state"
                  id="state"
                  placeholder="State"
                />
              </div>
            </div>
          </div>
          <button (click)="next()" type="button" class="btn btn-primary">
            Next
          </button>
        </div>
        <div id="test-l-2" class="content">
          <div>
            <h6 class="title-decorative mb-2">Step 3.</h6>
            <h4>Upload A Picture</h4>
            <div>
              <input type="file" ng2FileSelect [uploader]="uploader" />
            </div>

            <div
              class="col-md-9"
              style="margin-bottom: 40px;"
              *ngIf="uploader?.queue?.length"
            >
              <table class="table">
                <tbody>
                  <tr *ngFor="let item of uploader.queue">
                    <td>
                      <strong>{{ item?.file?.name }}</strong>
                    </td>

                    <td *ngIf="uploader.options.isHTML5">
                      <div class="progress" style="margin-bottom: 0;">
                        <div
                          class="progress-bar"
                          role="progressbar"
                          [ngStyle]="{
                            width: item.progress + '%'
                          }"
                        ></div>
                      </div>
                    </td>

                    <td nowrap>
                      <button
                        type="button"
                        class="btn btn-success btn-xs"
                        (click)="item.upload()"
                        [disabled]="
                          item.isReady || item.isUploading || item.isSuccess
                        "
                      >
                        <span class="glyphicon glyphicon-upload"></span>
                        Upload
                      </button>
                      <button
                        type="button"
                        class="btn btn-warning btn-xs"
                        (click)="item.cancel()"
                        [disabled]="!item.isUploading"
                      >
                        <span class="glyphicon glyphicon-ban-circle"></span>
                        Cancel
                      </button>
                      <button
                        type="button"
                        class="btn btn-danger btn-xs"
                        (click)="item.remove()"
                      >
                        <span class="glyphicon glyphicon-trash"></span>
                        Remove
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>

              <div>
                <div>
                  Queue progress:
                  <div class="progress" style="">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      [ngStyle]="{
                        width: uploader.progress + '%'
                      }"
                    ></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button (click)="next()" type="button" class="btn btn-primary">
            Next
          </button>
        </div>
        <div id="test-l-3" class="content text-center">
          <div>
            <select
              class="custom-select mr-sm-2"
              id="inlineFormCustomSelect"
              name="pace"
              [(ngModel)]="user.pace"
            >
              <option value="-8">Below 8 minutes</option>
              <option selected value="8-9">8-9 Minutes</option>
              <option value="+10">10 Minutes+</option>
            </select>
            <select
              class="custom-select mr-sm-2"
              id="inlineFormCustomSelect"
              name="mileage"
              [(ngModel)]="user.mileage"
            >
              <option value="1-2">1-2 Miles</option>
              <option value="2-5">2-5 Miles</option>
              <option value="5+">5+ Miles</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary mt-5">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
